<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false">
  <!--internalLogFile="c:/temp/log.txt" internalLogLevel="Trace" throwExceptions="true"-->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/../../logs/" />
  <variable name="archiveDirectory" value="${logDirectory}/Archive" />
  <variable name="LogLayout" value="[${longdate}${date:format= K}]  [${machinename}]  [${appdomain}]  [${threadid}]  [${logger}]  [${level}]  [${correlation-id}]  [${message}${exception:format=tostring}]  [${all-event-properties}]" />

  <targets>

    <target xsi:type="File"
		        name="File"
		        archiveFileName="${archiveDirectory}/${logger}.{#}.log"
		        archiveEvery="Day"
		        archiveNumbering="Date"
		        maxArchiveFiles="9999"
		        archiveDateFormat="yyyy-MM-dd-HH-mm"
		        encoding="utf-8"
		        fileName="${logDirectory}/${logger}.log"
		        layout="${LogLayout}" />

    <target xsi:type="File"
		        name="Errors"
		        archiveFileName="${archiveDirectory}/Errors.{#}.log"
		        archiveEvery="Day"
		        archiveNumbering="Date"
		        maxArchiveFiles="9999"
		        archiveDateFormat="yyyy-MM-dd-HH-mm"
		        encoding="utf-8"
		        fileName="${logDirectory}/Errors.log"
            layout="${LogLayout}" />

    <target xsi:type="ColoredConsole" name="Console" useDefaultRowHighlightingRules="false">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkYellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />

      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${longdate}${date:format= K}" />
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="appdomain" layout="${appdomain}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="error-code" layout="${error-code}"/>
        <attribute name="url" layout="${aspnet-request-url}" />
        <attribute name="correlation-id" layout="${correlation-id}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <attribute name="event-properties" layout="${all-event-properties}" />
        <attribute name="error-data" layout="${error-data}"/>
        <attribute name="user-id" layout="${user-id}" />
        <attribute name="user-role" layout="${user-role}" />
      </layout>
    </target>

  </targets>

  <rules>
    <!--Если хочешь логи в файлах, раскомменть эти логгеры. Только не коммить, т.к. на production нужно писать ТОЛЬКО в консоль! -->
    <!--<logger name="*" minlevel="Info" writeTo="File" maxlevel="Warn" />  
    <logger name="*" minlevel="Error" writeTo="Errors" />-->
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>

</nlog>